
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
 font-family: "Montserrat", sans-serif; 
 margin: 0;
 padding: 0;
}

.container {
  background-image: url("images/bg.png");
  background-size:790px auto;
  max-width: 1110px;
  margin:0 auto;
}

.image-container {
    display: inline-block;
    width: 340px;
    height: 245px;
}
    

  .title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin:200px 0;
  text-align: center;
  color:#515076;
  }



  

.card{
width:340px;
background-color: #d6d6df;
margin: 45px;
padding: 25px;
}

.skin-type{
text-transform: uppercase;
display: block;
font-size: 12px;
}

.product-list{
list-style-type: none;
padding:0;
margin: 0;
display: flex;
flex-wrap:wrap;
gap: 45px;
justify-content:space-between;

}
.price-card {
  display: flex;
  flex-direction:;
  justify-content: space-between;
  align-items: center;
  padding: 20 px;
  border: 1px;solid: #d77777;
  border-radius: 8px;
  width: 300px;
  height: 24px;
  margin:25 px;
}
  
.main-text
  padding-left: 25;
  paddig-right: 25;
 .image-container {
  background-image: url('путь/к/вашей-bg 1.png');
} 
background-position : center; — выровняет фон по центру.
  





    